%div.chat-side__group
  %div.chat-side__group-content
    %div.chat-side__group-name 中区
    %div.chat-side__group-message ドンキホーテ
  %div.chat-side__group-content
    %div.chat-side__group-name 西区
    %div.chat-side__group-message 円頓寺商店街
  %div.chat-side__group-content
    %div.chat-side__group-name 北区
    %div.chat-side__group-message 名城公園
  %div.chat-side__group-content
    %div.chat-side__group-name 千種区
    %div.chat-side__group-message 東山動物園
