%div.chat-main__message
  %div.chat-main__message-area
    %div.chat-main__message-content
      %div.chat-main__message-user yamamoto_kenta
      %div.chat-main__message-day 2018/12/02 20:57:01
      %div.chat-main__message-text 今日は寒いね
    %div.chat-main__message-content
      %div.chat-main__message-user yamamoto_kenta
      %div.chat-main__message-day 2018/12/02 20:57:01
      %div.chat-main__message-text 今日は寒いね
    %div.chat-main__message-content
      %div.chat-main__message-user yamamoto_kenta
      %div.chat-main__message-day 2018/12/02 20:57:01
      %div.chat-main__message-text 今日は寒いね

