.chat-side__group
  .chat-side__group-content
    .chat-side__group-name 中区
    .chat-side__group-message ドンキホーテ
  .chat-side__group-content
    .chat-side__group-name 西区
    .chat-side__group-message 円頓寺商店街
  .chat-side__group-content
    .chat-side__group-name 北区
    .chat-side__group-message 名城公園
  .chat-side__group-content
    .chat-side__group-name 千種区
    .chat-side__group-message 東山動物園
