.chat-main__footer {
  height: 90px;
  width: 100%;
  background-color: #AAA;
  .chat-main__footer-form {
    margin: 0 40px;
    position: relative;
    .chat-main__footer-content {
      position: relative;
      .chat-main__footer-text {
        font-size: 16px;
        color: $palette-black;
        height: 50px;
        padding:0 10px;
        margin: 20px 0;
        width: calc(100% - 130px);
        border: none;
      }
    }
  }
.chat-file {
  height: 50px;
  width: 40px;
  margin: 32px 130px 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  .image {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

label .fa {
  color: $palette-black;
}

.send {
  background-color: $palette-blue;
  height: 50px;
  width: 100px;
  color: $palette-white;
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  text-align: center;
}
}
