.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  &__user {
    height: 15%;
    width: 100%;
    background-color: #253141;
    position: relative;
    &-content {
      height: 50px;
      line-height:  50px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin:auto 0;
    }
    &-name {
      color: $palette-white;
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;
      display: inline-block;
      position: relative;
    }
  }
  .fa {
  color: $palette-white;
  }
  &__group {
  height: 85%;
  width: 100%;
  background-color: #2f3e51;
    &-content {
      padding: 20px;
    }
    &-name {
      font-size: 15px;
      color: $palette-white;
    }
    &-message {
      font-size: 11px;
      color: $palette-white;
      margin-top: 5px;
    }
  }
}
