.chat-main {
  float: left;
  height: 100vh;
  width: calc(100vw - 300px);
  .chat-main__header {
    height: 15%;
    border: 1px solid #eee;
    .chat-main__header-content {
      margin: 0 40px;
      @include clearfix();
      .chat-main__header-name {
        font-size: 20px;
        color: #333;
        margin: 35px 0 15px;
        float: left;
      }
    }
  }
.chat-main__header--edit-group {
  float: right;
  color: $palette-blue;
  margin: 28px 20px 0;
  font-size: 15px;
  border: 1px solid $palette-blue;
  padding: 12.5px 20px;
}
.chat-main__header-member {
      font-size: 12px;
      color: $palette-sub-black;
      margin: 0 40px;
}
}


