.chat-side__group {
  height: 85%;
  width: 100%;
  background-color: #2f3e51;
  .chat-side__group-content {
   padding: 20px;
    .chat-side__group-name {
      font-size: 15px;
      color: $palette-white;
    }
  }
.chat-side__group-message {
  font-size: 11px;
  color: $palette-white;
  margin-top: 5px;
}
}
